.git
.cache
logs/
\*.log

src/

.idea/
.vscode/
.DS_Store
docs/
infrastructure/
tests/
.git*
*.md

.eslintignore
.eslintrc
.prettierrc
Dockerfile.\*
*.docker-compose.yml
.releaserc
bitbucket-pipelines.yml